<h1 class="text-center mt-3 mb-3">Más informacion</h1>
<div>
    <p>
      La Yerba Mate tiene la imagen de ser una bebida amarga y sin ninguna
      diversidad. En realidad, hay tantos tipos de Yerba Mate como paladares para
      disfrutarla. Ya sea intenso, suave, con cítricos, con especias o con menta, el
      mate es una bebida saludable y llena de sabor.
    </p>
    <h2 class="text-center mt-3 mb-3">
      ¿Cómo se pueden diferencias los distintos tipos de yerbas?
    </h2>
    <p>
      La yerba mate se compone de 3 elementos principales que determinan el sabor:
    </p>
    <p>
      - Las hojas: Este es el elemento principal de la Yerba Mate, pues contienen
      mucho sabor y lo difunden durante toda su preparación.
    </p>
    <p>
      - El polvo: Es lo que da la intensidad del sabor al principio de su
      preparación. El Polvo se infunde y difunde mucho más rápido que las hojas,
      entonces pierde su sabor mucho más rápido.
    </p>
    <p>
      - El palo: Son los tallos de la Yerba. Es el elemento que contiene menos
      sabor, permite "diluir" el Mate y hacerlo menos fuerte.
    </p>
  </div>

  